html, body {
    height:100%;
}

body {
    margin:0;
    background-attachment:fixed;
    font-family:"Neuton"; 
    line-height:1.5em;
    background:#f6f6f6;
    background: linear-gradient(white, rgb(216, 216, 216));
    overflow:hidden;
}

h1, h2, button, .stateChoice {
    font-family:"Montserrat";
}

.page {
    padding:2em;
    position:absolute;
    width:100%;
    height:100%;
    box-sizing:border-box;
    /*position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;*/
}

#stateSelector {
}

.stateChoice {
    float:left;
    width:20%;
    color:white;
    background: #1F1880;
    margin: 1px;
    padding:1em;
    cursor:pointer;
}


.stateChoice:hover {
    background:#4F5FDA;
}

.center {
    text-align:center;
}




#stateSelectButton {
    margin: 0 auto;
    display: block;
    cursor:pointer;
}

#map { 
    width:100%;
    height:50%;    
}

#chart { 
    width:100%;
    height:50%;    
}

#menuButton {
    position:fixed;
    left:2em;
    top:1em;
    width:40px;
    height:38px;
    background:url('images/menuButton.png') no-repeat left;
    cursor:pointer;
    z-index:1;
}

#menuButton:hover {
    background-position:right;
}

#sidebar {
    height: 100%;
    float: left;
    width: 0px;
    background:white;
    transition:all 0.2s ease;
    margin-top:-2em;
    overflow:hidden;
    white-space: nowrap;  
    margin-left:-4em;
}

#sidebar.open {
    width:300px;    
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    margin-left:-2em;
}

#currentInfo {
    height: inherit;
    padding-left:2em;
    overflow:hidden;
    margin-right: 2em;
}

#selectAnotherStateButton {
    width:100%;
    text-align:center;
    font-size:2em;
    cursor:pointer;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#selectAnotherStateButton:hover {
    color:#027798;
}

.paneButton {
    padding: 1.5em 1em;
    border-bottom: 1px solid #D4D4D4;
    cursor:pointer;
}

.paneButton:hover{
    background:#F4F7FF;
}

.paneButton:first-child {
    border-top:1px solid #D4D4D4;
}

.paneButton.selected {
        box-shadow: 0px 12px 28px -15px rgba(0,0,0,0.2) inset,0px -12px 28px -15px rgba(0,0,0,0.2) inset;
    background: #F9F9F9;
}