html, body {
    height:100%;
}

body {
    margin:0;
    background-attachment:fixed;
    font-family:"Neuton"; 
    background:white;
}

h1, h2, h3, h4, button, #sidebar, .stateChoice, #by2030, .equivalencyBox, .ultrafat, .sources {
    font-family:"Montserrat";
}

h1 {
    font-size:42px;
}

h2 {
    font-size:32px;
}

h2, h3, h4 {
    color: #3D4849;
}

h3 {
    font-size:24px;
}

h4 { 
    font-size:24px;
}

p {
    line-height:1.5em;
    font-size:22px;
}

.page {
    padding-left:2em;
    padding-right:2em;   
    padding-bottom:2em;
    max-width:1180px;
    margin:auto;
}

#pages {
    margin-left:30px;
    transition:all 0.2s ease;
    overflow:hidden;
}

#pages.sidebaroffset {
    margin-left:300px;
}


.stateChoice {
    float:left;
    width:20%;
    color:white;
    background: #1F1880;
    margin: 1px;
    padding:1em;
    cursor:pointer;
}


.stateChoice:hover {
    background:#4F5FDA;
}

.center {
    text-align:center;
}

.clear {
    clear:both;
}

.translucent {
    opacity:0.6;
}

.separator {
    margin-bottom:2em;
    clear: both;
}

.greyBox {
    background-color:#F8F8F8;
    border: 1px solid #F1F1F1;
    padding:1em;
    box-sizing: border-box;
}

.green {
    color:#197F44;
}

.black {
    color:#000000;
}

.ultrafat {    
    font-size: 84px;
    font-weight: 800;
    margin-top:0;
    margin-bottom:0;
}

.big {
    font-size:42px;
}

.medium {
    font-size:22px;
}

.small {
    font-size:18px;
}

.thin {
    font-weight:100;
}

.no-bottom-margin {
    margin-bottom:0;
}

.sources {
    padding-bottom:1em;
    border-top:1px solid #E4E4E4;
    font-weight:bold;
}

.sources p {
    font-size:16px;
}

.equivalencyAmount {
    font-weight:800;
    font-size:32px !important;
}

#header {
    border-bottom:1px solid #E4E4E4;    
    padding: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    max-width:1180px;
    margin:auto;
}

#sidebar {
    position:fixed;
    height: 100%;
    width: 300px;
    left:-270px;
    background:#EEEEEE;
    transition:all 0.2s ease;
}

#sidebar.open {
    left:0px;   
}

#mainSidebarContent {
    width: 270px;
    float: left;
}

#sidebarHandle {
    width: 30px;
    float: right;
    height: 100%;
    background:#F8F8F8;    
    border-left: 1px solid #D4D4D4;
    box-sizing: border-box;
}

#sidebarHandleButton {
    background:#F1CD3D;
    height:90px;
    margin-top:30px;
    cursor:pointer;
    background-image:url('images/sidebar/menu-closed-block.png');    
}

#sidebar.open #sidebarHandleButton {
    background-image:url('images/sidebar/menu-opened-block.png');   
}

#sidebarEPALogo {
    margin:auto;
    margin-top:2em;
    width: 65%;
    display:block;
}

select {
    padding: 0.5em 0.3em;
    height:47px;
    font-size: 1.2em;
    width: 245px;
    cursor:pointer;
    border-color:#CFCFCF;
}

.selectWrapper {
    position:relative;
}
.selectWrapper:before {
    pointer-events: none;
    position: absolute;
    content: url(images/cpp-dropdown-box-arrow.png);
    right: 0;
}

#whatIsYourPowerPlan select {
    width:100%;
}

#whatIsYourPowerPlan img {
    margin-top:2em;
    margin-right:-2em;   
}
        
 
#whatIsYourPowerPlan h4 {
    text-align:left;
}
           
        
#statePower select {
    float:right;
}

#statePower h3 {
    margin-top:0;
}

#sidebar .selectWrapper {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 245px;
}

#titleDiv {
    width:auto;
    overflow:hidden;
}

#whatIsYourPowerPlan {
    float:right;
    width:35%;    
    padding-left:1em;
    border-left:1px solid #F1F1F1;
    height:100%;
    margin-left:1em;
    text-align:right;
}


.takingActionPageBox {
    width:47.5%;
    float:left;
    min-height:200px;
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
    margin-bottom:2em;
    cursor:pointer;    
    overflow:hidden;
    padding-right: 160px;
}

.takingActionPageBox:nth-child(odd) {
    margin-right:5%;
}

.takingActionPageBox h4 {
    margin-top:0;
    margin-bottom:0;
}

#powerPageBox {
    background-image:url(images/home/epp-box-corner.png);
}

#powerPageBox h4 {
    color:#014574;
}

#powerPageBox:hover h2 {
    color:#022f4e;
}

#powerPageBox:hover {
    border-color:#bdc3c7;
}

#trucksPageBox {
    background-image:url(images/home/trucks-box-corner.png);
}

#oilPageBox {
    background-image:url(images/home/oil-gas-box-corner.png);
}

#otherPageBox {
    background-image:url(images/home/other-box-corner.png);
}

#commercialPageBox {
    background-image:url(images/home/commercial-box-corner.png);
}



.paneButton {
    padding: 1.5em 1em;
    border-bottom: 1px solid #D4D4D4;
    cursor:pointer;
    font-weight:bold;
    color:#2C6187;
}

.paneButton.selected {
    background:#DDDDDD;
    color:#595959;
}

.paneButton.unselectable {
    color:#9C9C9C;
}

.paneButton:hover{
    background:#FFF;
}

.paneButton.unselectable:hover{
    background:#E6E6E6;
}

.paneButton:first-child {
    border-top:1px solid #D4D4D4;
}

#whatIsYourPowerPlan h4 {
    margin-bottom:0.5em;
}


.equivalencyBox {
    width:32%;
    margin-right:2%;
    float:left;
}

.equivalencyBox:last-child {
    margin-right:0px;
}

.equivalencyBox p {
    margin-bottom:0;
    margin-top:0;
    font-size:20px;
}

.equivalencyBox img {
    display: block;
    margin: 1em auto;
}

#seeYourStatesCommitment {
    text-align:right;
    background-image:url(images/power/green-trees.png);
    background-position: 2em bottom;
    background-repeat: no-repeat;
    background-size:auto 95%;
    padding-left:45%;
    padding-right:2em;
    overflow:hidden;
}

#bluePlug {
    float:right;
    height:200px;
    margin-left:1em;
    margin-right:-2em;
    margin-bottom:1em;
}

#by2030 {
    background-image:url(images/power/big-powerplant-icon.png);
    background-position: 2em 1em;
    background-repeat: no-repeat;
    background-size:auto 90%;
    padding-left:45%;
}

#by2030 > img {
    display:none;
}

#powerPage h2 {
    line-height:1em;
}

label {
    display:none;
}

.row { display:flex; }

.row div { flex:1; }

@media only screen and (max-width: 1100px) {
    
    .row { display:block !important; }
    .takingActionPageBox { margin-right:0 !important; width:auto !important; float:none !important; }
    .equivalencyBox { margin-right:0 !important; width:auto !important; float:none !important; margin-bottom:1em !important;}
    
    #homeTopColumns { display: -webkit-box; display: -moz-box;     display: box; -webkit-box-orient: vertical; -moz-box-orient:vertical; box-orient: vertical; }
    
    #homeTopColumns > div {
        float:none !important; width:auto !important; margin-right:0 !important; margin-left:0 !important;
    }
    
    #whatIsYourPowerPlan { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; box-ordinal-group: 2; border-left:0 !important; 
    border-top:1px solid #F1F1F1; padding-left:0 !important; padding-top:1em !important;}
    
    #titleDiv { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; box-ordinal-group: 1;}
    
  
    #by2030 {
        background-image:none !important; padding-left:1em !important; text-align:center !important; 
    }
    #by2030 > img  {
        display:block !important; margin:auto !important; 
    max-width: 100%!important;
    }
    
    #statePower .row {
        text-align:center !important;
    }

}


@media only screen and (max-width: 400px) {
    
    .ultrafat { font-size:48px !important; }
}

