
<div ng-repeat="claim in claim.claims"  class="claim" ng-class="{irrelevant: (claim.irrelevant == true), ambiguous: (claim.ambiguous == true), unsupported: (claim.unsupported == true), selected: Master.isSelected(claim), ghosted: Master.shouldGhost(claim)}" ng-controller="ClaimController" ng-click="Master.SwallowClick($event); Master.ClosePopups(); Master.SelectClaim(claim, $event);">


<!--BUTTON-->
        <div class="button" ng-class="{pressed: actionPanelOpen==true}" ng-click="Master.SwallowClick($event); Master.SelectClaim(claim, $event); ButtonClick(claim, $event); ">
            <div>
                <div class="status"></div>
            </div>
        </div>



        <!--ACTION PANEL-->
        <div class="claim-action-panel" ng-show="actionPanelOpen" ng-click="Master.SwallowClick($event)">
            <ul>
                <li id="refute-button"><a href="" ng-click="RefuteClaim(claim)">Refute</a></li>
                <li id="edit-button"><a href="" ng-click="EditClaim(claim)"><img src="images/pencil.png" /></a></li>
                <li>
                    Flag As:
                    <ul>
                        <li><input type="checkbox" ng-model="claim.unsupported" /><a id="unsupported" href="">Unsupported</a></li>
                        <li><input type="checkbox" ng-model="claim.irrelevant" /><a id="irrelevant" href="">Irrelevant</a></li>
                        <li><input type="checkbox" ng-model="claim.ambiguous" /><a id="ambiguous" href="">Ambiguous</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--MAIN TEXT-->
        <div class="claim-text-wrapper">
            <div class="claim-text" ng-bind-html="claim.text | linky:'_blank'"></div>
        </div>

        <!--EVIDENCE-->
        <div class="claim-evidence"></div>

        <!--SUBCLAIMS-->
         <div class="sub-claims" ng-if="claim.claims">

            <claims></claims>  
             
            <a ng-click="Master.AddClaim(claim.claims)" class="add-claim" href="#">(+) Add Claim</a>

        </div>
    
</div>